<div class="ui segments">
  <div class="ui clearing grey inverted segment">
    <h4 class="ui left floated header">Afspraken</h4>
    <button class="ui right floated green compact button" (click)="openNewRule()">
      <i class="plus icon"></i>Voeg toe</button>
  </div>
  <div class="ui segment afsprakenscroll">
    <div class="ui middle aligned divided list">
      <div class="item afsprakenscrollrow" *ngFor="let afspraak of afspraken">
        <div class="right floated content">
          <div class="ui icon compact button" (click)="openEditRule(afspraak)">
            <i class="edit outline icon"></i>
          </div>
          <div class="ui red icon compact button" (click)="openRemoveRule(afspraak)">
            <i class="trash outline icon"></i>
          </div>
        </div>
        <div class="content">
          <img class="ui avatar image" src={{afspraak?.icon}}> {{afspraak?.beschrijving}}
        </div>
      </div>
    </div>
  </div>
</div>

<form [formGroup]='afspraak' (ngSubmit)='addRule()' class="ui modal tiny makerule">
  <div class="ui header">
    Maak een afspraak
  </div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <label>Icoon</label>
        <input type="text" name="icon" formControlName='icon' placeholder="Icon URL">
        <div *ngIf='afspraak.get("icon").errors?.required && afspraak.get("icon").touched' class='ui pointing red basic label'>
          Dit veld is verplicht.
        </div>
        <div *ngIf='afspraak.get("icon").errors?.minlength && afspraak.get("icon").touched' class='ui pointing red basic label'>
          Dit veld moet minimum {{afspraak.get("icon").errors?.minlength.requiredLength}} tekens lang zijn.
        </div>
      </div>
      <div class="field">
        <label>Beschrijving</label>
        <input type="text" name="beschrijving" formControlName='beschrijving' placeholder="Beschrijving">
        <div *ngIf='afspraak.get("beschrijving").errors?.required && afspraak.get("beschrijving").touched' class='ui pointing red basic label'>
          Dit veld is verplicht.
        </div>
        <div *ngIf='afspraak.get("beschrijving").errors?.minlength && afspraak.get("beschrijving").touched' class='ui pointing red basic label'>
          Dit veld moet minimum {{afspraak.get("beschrijving").errors?.minlength.requiredLength}} tekens lang zijn.
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui red cancel compact button">
      <i class="remove icon"></i>
      Annuleer
    </div>
    <button class="ui green ok compact button" type='submit'>
      <i class="checkmark icon"></i>
      Maak
    </button>
  </div>
</form>

<form class="ui modal tiny editrule" [formGroup]='editingAfspraakFormGroup' (submit)='editRule()'>
  <div class="ui header">
    Pas een afspraak aan
  </div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <label>Icoon</label>
        <input type="text" name="icon" placeholder="Icon URL" formControlName='icon' value={{editingAfspraak?.icon}}>
        <div *ngIf='editingAfspraakFormGroup.get("icon").errors?.required && editingAfspraakFormGroup.get("icon").touched' class='ui pointing red basic label'>
          Dit veld is verplicht.
        </div>
        <div *ngIf='editingAfspraakFormGroup.get("icon").errors?.minlength && editingAfspraakFormGroup.get("icon").touched' class='ui pointing red basic label'>
          Dit veld moet minimum {{editingAfspraakFormGroup.get("icon").errors?.minlength.requiredLength}} tekens lang zijn.
        </div>
      </div>
      <div class="field">
        <label>Beschrijving</label>
        <input type="text" name="beschrijving" placeholder="Beschrijving" formControlName='beschrijving' value={{editingAfspraak?.beschrijving}}>
        <div *ngIf='editingAfspraakFormGroup.get("beschrijving").errors?.required && editingAfspraakFormGroup.get("beschrijving").touched' class='ui pointing red basic label'>
          Dit veld is verplicht.
        </div>
        <div *ngIf='editingAfspraakFormGroup.get("beschrijving").errors?.minlength && editingAfspraakFormGroup.get("beschrijving").touched' class='ui pointing red basic label'>
          Dit veld moet minimum {{editingAfspraakFormGroup.get("beschrijving").errors?.minlength.requiredLength}} tekens lang zijn.
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui red cancel compact button">
      <i class="remove icon"></i>
      Annuleer
    </div>
    <button class="ui green ok compact button" type='submit'>
      <i class="checkmark icon"></i>
      Maak
    </button>
  </div>
</form>

<div class="ui modal tiny removerule">
  <div class="ui header">
    Verwijder een afspraak
  </div>
  <div class="content">
    <div class="item">
      <div class="content">
        <img class="ui avatar image" src={{removingAfspraak?.icon}}> {{removingAfspraak?.beschrijving}}
      </div>
    </div>
    <br>Wilt u deze afspraak
    <strong>permanent</strong> verwijderen?
  </div>
  <div class="actions">
    <div class="ui cancel compact button">
      Annuleer
    </div>
    <div class="ui red ok compact button" (click)="removeRule()">
      <i class="remove icon"></i>
      Verwijder
    </div>
  </div>
</div>