<table class="ui table">
  <thead>
    <tr class="ui grey inverted table">
      <th class="collapsing"></th>
      <th>Beschrijving</th>
      <th class="right aligned">
        <button class="ui green compact button" (click)="openNewRule()">
          <i class="plus icon"></i>Voeg toe</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let afspraak of afspraken">
      <td>
        <img class="ui avatar image" src={{afspraak.icon}}>
      </td>
      <td>{{afspraak.beschrijving}}</td>
      <td class="right aligned ">
        <div class="ui icon compact button" (click)="openEditRule(afspraak)">
          <i class="edit outline icon"></i>
        </div>
        <div class="ui red icon compact button" (click)="openRemoveRule(afspraak)">
          <i class="trash outline icon"></i>
        </div>
      </td>
    </tr>

  </tbody>

  <tfoot>
    <tr>
      <th colspan="3">
        <div class="ui right floated pagination menu">
          <a class="icon item">
            <i class="left chevron icon"></i>
          </a>
          <a class="item">1</a>
          <a class="item">2</a>
          <a class="item">3</a>
          <a class="item">4</a>
          <a class="icon item">
            <i class="right chevron icon"></i>
          </a>
        </div>
      </th>
    </tr>
  </tfoot>
</table>

<div class="ui modal tiny makerule">
  <div class="ui header">
    Maak een locatie
  </div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <label>Icoon</label>
        <input type="text" name="icon" placeholder="Icon URL">
      </div>
      <div class="field">
        <label>Beschrijving</label>
        <input type="text" name="beschrijving" placeholder="Beschrijving">
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui red cancel compact button">
      <i class="remove icon"></i>
      Annuleer
    </div>
    <div class="ui green ok compact button">
      <i class="checkmark icon"></i>
      Maak
    </div>
  </div>
</div>

<form class="ui modal tiny editrule" [formGroup]='editingAfspraakFormGroup'>
  <div class="ui header">
    Maak een locatie
  </div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <label>Icoon</label>
        <input type="text" name="icon" placeholder="Icon URL" formControlName='icon' value={{editingAfspraak?.icon}}>
      </div>
      <div class="field">
        <label>Beschrijving</label>
        <input type="text" name="beschrijving" placeholder="Beschrijving" formControlName='beschrijving' value={{editingAfspraak?.beschrijving}}>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui red cancel compact button">
      <i class="remove icon"></i>
      Annuleer
    </div>
    <div class="ui green ok compact button" (click)="editRule()">
      <i class="checkmark icon"></i>
      Maak
    </div>
  </div>
</form>

<div class="ui modal tiny removerule">
  <div class="ui header">
    Verwijder een afspraak
  </div>
  <div class="content">
    <div class="item">
      <div class="content">
        <img class="ui avatar image" src={{removingAfspraak?.icon}}>
        {{removingAfspraak?.beschrijving}}
      </div>
    </div>
    <br>Wilt u deze afspraak <strong>permanent</strong> verwijderen?
  </div>
  <div class="actions">
    <div class="ui cancel compact button">
      Annuleer
    </div>
    <div class="ui red ok compact button" (click)="removeRule()">
      <i class="remove icon"></i>
      Verwijder
    </div>
  </div>
</div>
