<div class="ui segments">
  <div class="ui clearing segment">
    <button class="ui left floated blue button" routerLink="/traject/{{_traject?.id}}">
      <i class="arrow left icon"></i>Terug</button>
    <div class="ui icon input">
      <input type="text" placeholder="Locatie naam..." value="{{_locatie?.naam}}">
      <i class="edit icon"></i>
    </div>
    <button class="ui right floated green button" (click)="openNewAfbeelding()">
      <i class="plus icon"></i>Nieuwe foto</button>
  </div>
  <div class="ui segment">
    <div class="ui four cards">
      <div class="card special" *ngFor="let afbeelding of _locatie?.afbeeldingen">
        <div class="blurring dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <div class="ui inverted red button" (click)="openRemove(afbeelding)">
                  <i class="trash outline icon"></i>Delete</div>
              </div>
            </div>
          </div>
          <img src={{afbeelding?.link}}>
        </div>
        {{setDimmer()}}
      </div>
    </div>
  </div>
</div>

<form [formGroup]='afbeelding' (ngSubmit)='newAfbeelding()' class="ui modal tiny makeafbeelding">
  <div class="ui header">
    Voeg een afbeelding toe
  </div>
  <div class="content ui form">
    <div class="field">
      <label for="link">File</label>
      <input type="file" id="file" (change)="onFileChange($event)" #fileInput>
    </div>
  </div>
  <div class="actions">
    <button class="ui red compact button" type='button' (click)="closeNewAfbeelding()">
      <i class="remove icon"></i>
      Annuleer
    </button>
    <button class="ui green compact button" type='submit' [disabled]="form.invalid || loading">
      <i class="checkmark icon"></i>
      Maak
    </button>
  </div>
</form>

<!--<form [formGroup]='afbeelding' (ngSubmit)='newAfbeelding()' class="ui modal tiny makeafbeelding">
  <div class="ui header">
    Voeg een afbeelding toe
  </div>
  <div class="content ui form">
    <div class="field">
      <label for="link">Link</label>
      <input type='text' id='link' formControlName='link' autocomplete="off">
      <div *ngIf='afbeelding.get("link").errors?.required && afbeelding.get("link").touched' class='ui pointing red basic label'>
        Dit veld is verplicht.
      </div>
      <div *ngIf='afbeelding.get("link").errors?.minlength && afbeelding.get("link").touched' class='ui pointing red basic label'>
        Dit veld moet minimum {{afbeelding.get("link").errors?.minlength.requiredLength}} tekens lang zijn.
      </div>
    </div>
  </div>
  <div class="actions">
    <button class="ui red compact button" type='button' (click)="closeNewAfbeelding()">
      <i class="remove icon"></i>
      Annuleer
    </button>
    <button class="ui green compact button" type='submit'>
      <i class="checkmark icon"></i>
      Maak
    </button>
  </div>
</form>-->

<div class="ui modal tiny remove">
    <div class="ui header">
      Verwijder een locatie
    </div>
    <div class="content">
      Wilt u deze afbeelding <strong>permanent</strong> verwijderen?
      <br>
      <br>
      <img class="ui medium rounded image" src={{removing?.link}}>
    </div>
    <div class="actions">
      <div class="ui cancel compact button">
        Annuleer
      </div>
      <div class="ui red ok compact button" (click)="removeAfbeelding()">
        <i class="remove icon"></i>
        Verwijder
      </div>
    </div>
  </div>
