<div class="ui segments">
  <div class="ui clearing segment">
    <button class="ui left floated blue button" routerLink="/traject">
      <i class="arrow left icon"></i>Terug</button>
    <div class="ui icon input">
      <input type="text" placeholder="Locatie naam..." value="Kleine speelplaats">
      <i class="edit icon"></i>
    </div>
    <button class="ui right floated green button">
      <i class="plus icon"></i>Nieuwe foto</button>
  </div>
  <div class="ui segment">
    <div class="ui four special cards">

      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <div class="ui inverted red button">
                  <i class="trash outline icon"></i>Delete</div>
              </div>
            </div>
          </div>
          <img src="https://chamilo.hogent.be/index.php?application=Chamilo%5CCore%5CRepository&go=DocumentDownloader&object=2906218&security_code=385ed15ed6eda0d04080d2ef5b4bb07c8e813322&time=1507581168&display=1">
        </div>
      </div>

      <div class="card">
        <div class="blurring dimmable image">
          <div class="ui dimmer">
            <div class="content">
              <div class="center">
                <div class="ui inverted red button">
                  <i class="trash outline icon"></i>Delete</div>
              </div>
            </div>
          </div>
          <img src="https://chamilo.hogent.be/index.php?application=Chamilo%5CCore%5CRepository&go=DocumentDownloader&object=2906219&security_code=555f3e4c55295d77bd84ee1617ec7bb55d8be950&time=1507581168&display=1">
        </div>
      </div>

    </div>
  </div>
</div>