<div class="ui segments">
  <div class="ui clearing segment">
    <h3 class="ui left floated header">Locaties</h3>
    <button class="ui right floated green compact button" (click)="openNewLocation()">
      <i class="plus icon"></i>Nieuwe locatie</button>
  </div>
  <div class="ui segment trajectlocaties">
    <div class="ui three stackable cards">
      <div class="ui card trajectcard" *ngFor="let locatie of traject?.locaties">
        <a class="image cardimage">
          <img *ngIf='getFirstPicture(locatie) != ""' src={{getFirstPicture(locatie)}}>
        </a>
        <div class="content">
          <p class="header">{{locatie?.naam}}</p>
        </div>
        <div class="extra clearing content">
          <button class="ui red compact icon right floated button" (click)="openRemoveLocation(locatie)">
            <i class="trash outline icon"></i>
          </button>
          <button class="ui grey compact icon right floated button" (click)="routeToLocatie(locatie._id)">
            <i class="edit icon"></i>
          </button>
          <p>
            <i class="image icon"></i>
            {{locatie?.afbeeldingen?.length}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<form [formGroup]='locatie' (ngSubmit)='newLocation()' class="ui modal tiny makelocation">
  <div class="ui header">
    Maak een locatie
  </div>
  <div class="content ui form">
      <div class="field">
        <label for="naam">Naam</label>
        <input type='text' id='naam' formControlName='naam' autocomplete="off">
        <div *ngIf='locatie.get("naam").errors?.required && locatie.get("naam").touched' class='ui pointing red basic label'>
          Dit veld is verplicht.
        </div>
        <div *ngIf='locatie.get("naam").errors?.minlength && locatie.get("naam").touched' class='ui pointing red basic label'>
          Dit veld moet minimum {{locatie.get("naam").errors?.minlength.requiredLength}} tekens lang zijn.
        </div>
      </div>
  </div>
  <div class="actions">
    <button class="ui red compact button" type='button' (click)="closeNewLocation()">
      <i class="remove icon"></i>
      Annuleer
    </button>
    <button class="ui green compact button" type='submit'>
      <i class="checkmark icon"></i>
      Maak
    </button>
  </div>
</form>

<div class="ui modal tiny removelocatie">
  <div class="ui header">
    Verwijder een locatie
  </div>
  <div class="content">
    Wilt u de locatie
    <strong>"{{removing?.naam}}"</strong> verwijderen?
  </div>
  <div class="actions">
    <div class="ui cancel compact button">
      Annuleer
    </div>
    <div class="ui red ok compact button" (click)="removeLocation()">
      <i class="remove icon"></i>
      Verwijder
    </div>
  </div>
</div>