<div class="ui segments">
  <div class="ui clearing segment">
    <h3 class="ui left floated header">Locaties</h3>
    <button class="ui right floated green compact button">
      <i class="plus icon"></i>Nieuwe locatie</button>
  </div>
  <div class="ui segment">
    <div class="ui three stackable cards">
      <div class="ui card">
        <a class="image" href="#">
          <img src="https://chamilo.hogent.be/index.php?application=Chamilo%5CCore%5CRepository&go=DocumentDownloader&object=2906219&security_code=555f3e4c55295d77bd84ee1617ec7bb55d8be950&time=1507581168&display=1">
        </a>
        <div class="content">
          <p class="header">Kleine speelplaats</p>
        </div>
        <div class="extra clearing content">
          <button class="ui red compact icon right floated button">
            <i class="trash outline icon"></i>
          </button>
          <button class="ui grey compact icon right floated button">
            <i class="edit icon"></i>
          </button>
          <p>
            <i class="image icon"></i>
            3 foto's
          </p>
        </div>
      </div>
      <div class="ui card">
        <a class="image" href="#">
          <img src="https://chamilo.hogent.be/index.php?application=Chamilo%5CCore%5CRepository&go=DocumentDownloader&object=2906223&security_code=07dabdbe218725a9110180c6dfe2f9b8fa3655a7&time=1507581168&display=1">
        </a>
        <div class="content">
          <p class="header">Leraarskamer</p>
        </div>
        <div class="extra clearing content">
          <button class="ui red compact icon right floated button">
            <i class="trash outline icon"></i>
          </button>
          <button class="ui grey compact icon right floated button">
            <i class="edit icon"></i>
          </button>
          <p>
            <i class="image icon"></i>
            2 foto's
          </p>
        </div>
      </div>
      <div class="ui card">
        <a class="image" href="#">
          <img src="https://chamilo.hogent.be/index.php?application=Chamilo%5CCore%5CRepository&go=DocumentDownloader&object=2906237&security_code=1abde38b959a5edaab59ea70796c1faf7e9f5d1f&time=1507581169&display=1">
        </a>
        <div class="content">
          <p class="header">Voetbalveld</p>
        </div>
        <div class="extra clearing content">
          <button class="ui red compact icon right floated button">
            <i class="trash outline icon"></i>
          </button>
          <button class="ui grey compact icon right floated button">
            <i class="edit icon"></i>
          </button>
          <p>
            <i class="image icon"></i>
            1 foto's
          </p>
        </div>
      </div>
      <div class="ui card">
        <a class="image" href="#">
          <img src="https://chamilo.hogent.be/index.php?application=Chamilo%5CCore%5CRepository&go=DocumentDownloader&object=2906226&security_code=830d39e44b7a6f7620d26e4af371f7fd49e7e38f&time=1507581168&display=1">
        </a>
        <div class="content">
          <p class="header">Lokaal 1</p>
        </div>
        <div class="extra clearing content">
          <button class="ui red compact icon right floated button">
            <i class="trash outline icon"></i>
          </button>
          <button class="ui grey compact icon right floated button">
            <i class="edit icon"></i>
          </button>
          <p>
            <i class="image icon"></i>
            3 foto's
          </p>
        </div>
      </div>
    </div>
  </div>
</div>