<div class="ui segments">
  <div class="ui clearing grey inverted segment">
    <h4 class="ui left floated header">Afspraken</h4>
    <button class="ui right floated green compact button">
      <i class="plus icon"></i>Voeg toe</button>
  </div>
  <div class="ui segment">
    <div class="ui middle aligned divided list">
      <div class="item">
        <div class="right floated content">
          <div class="ui red icon compact button">
            <i class="trash outline icon"></i>
          </div>
        </div>
        <img class="ui avatar image" src="../../assets/images/trap.png">
        <div class="content">
          We lopen rechts op de trap
        </div>
      </div>
      <div class="item">
        <div class="right floated content">
          <div class="ui red icon compact button">
            <i class="trash outline icon"></i>
          </div>
        </div>
        <img class="ui avatar image" src="../../assets/images/stappen-per-2.jpg">
        <div class="content">
          We stappen per 2
        </div>
      </div>
      <div class="item">
        <div class="right floated content">
          <div class="ui red icon compact button">
            <i class="trash outline icon"></i>
          </div>
        </div>
        <img class="ui avatar image" src="../../assets/images/deur-kloppen.png">
        <div class="content">
          We kloppen op de deur voor we binnen gaan
        </div>
      </div>
      <div class="item">
        <div class="right floated content">
          <div class="ui red icon compact button">
            <i class="trash outline icon"></i>
          </div>
        </div>
        <img class="ui avatar image" src="../../assets/images/gillen-kruis-rood.png">
        <div class="content">
          We gillen niet
        </div>
      </div>
      <div class="item">
        <div class="right floated content">
          <div class="ui red icon compact button">
            <i class="trash outline icon"></i>
          </div>
        </div>
        <img class="ui avatar image" src="../../assets/images/groep-blijven.png">
        <div class="content">
          We blijven bij de groep
        </div>
      </div>
      <div class="item">
        <div class="right floated content">
          <div class="ui red icon compact button">
            <i class="trash outline icon"></i>
          </div>
        </div>
        <img class="ui avatar image" src="../../assets/images/lopen-kruis-rood.png">
        <div class="content">
          We lopen niet
        </div>
      </div>
    </div>
  </div>
</div>