<div class="ui clearing segment">
    <div class="ui icon input">
      <input type="text" placeholder="Traject naam..." value={{_traject?.naam}}>
      <i class="edit icon"></i>
    </div>
    <button class="ui right floated red button">
      <i class="trash outline icon"></i>Verwijder traject</button>
  </div>
<div class="ui grid">
  <div class="ten wide column">
    <app-traject-locaties [traject]="_traject"></app-traject-locaties>
  </div>
  <div class="six wide column">
    <app-traject-ods [traject]="_traject"></app-traject-ods>
    <div class="ui hidden divider"></div>
    <app-traject-afspraken [counter]="count" [traject]="_traject"></app-traject-afspraken>
  </div>
</div>