<div class="ui clearing segment">
  <button class="ui green right floated button" (click)="openNewTraject()">
    <i class="plus icon"></i>Nieuw traject
  </button>
</div>
<div class="ui segment">
  <div class="ui large middle aligned divided list">
    <div class="item" *ngFor="let traject of _trajecten">
      <div class="content">
        <a class="header" routerLink="/traject/{{traject.id}}">{{traject.naam}}</a>
        <div class="description">Dit traject heeft {{getAmountOfLocations(traject)}} {{(getAmountOfLocations(traject) == 1 ) ? 'locatie' : 'locaties'
          }}
        </div>
      </div>
    </div>
  </div>
</div>

<form [formGroup]='traject' (ngSubmit)='newTraject()' class="ui modal tiny maketraject">
  <div class="ui header">
    Maak een traject
  </div>
  <div class="content ui form">
    <div class="field">
      <label for="naam">Naam</label>
      <input type='text' id='naam' formControlName='naam' autocomplete="off">
    </div>
  </div>
  <div class="actions">
    <div class="ui red cancel compact button">
      <i class="remove icon"></i>
      Annuleer
    </div>
    <button class="ui green ok compact button" type='submit'>
      <i class="checkmark icon"></i>
      Maak
    </button>
  </div>
</form>