<div class="ui clearing segment">
  <button class="ui green right floated button" (click)="openNewTraject()">
    <i class="plus icon"></i>Nieuw traject
  </button>
</div>
<div class="ui segment">
  <div class="ui large middle aligned divided list">
    <div class="item" routerLink="/traject" *ngFor="let traject of _trajecten">
      <div class="content">
        <a class="header">{{traject.naam}}</a>
        <div class="description">Dit traject heeft {{getAmountOfLocations(traject)}} {{(getAmountOfLocations(traject) == 1 ) ? 'locatie' : 'locaties' }}</div>
      </div>
    </div>
  </div>
</div>

<div class="ui modal tiny maketraject">
  <div class="ui header">
    Maak een traject
  </div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <label>Naam</label>
        <input type="text" name="Naam" placeholder="Naam">
      </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui red cancel compact button">
      <i class="remove icon"></i>
      Annuleer
    </div>
    <div class="ui green ok compact button">
      <i class="checkmark icon"></i>
      Maak
    </div>
  </div>
</div>