<div class="ui segments">
  <div class="ui clearing grey inverted segment">
    <h4 class="ui left floated header">Ontwikkelingsdoelen</h4>
    <button class="ui right floated green compact button" (click)="openNewOd()">
      <i class="plus icon"></i>Voeg toe</button>
  </div>
  <div class="ui segment odsscroll">
    <div class="ui middle aligned divided list">
      <div class="item odsscrollrow" *ngFor="let od of ods">
        <div class="right floated content">
          <div class="ui icon compact button" (click)="openEditOd(od)">
            <i class="edit outline icon"></i>
          </div>
          <div class="ui red icon compact button" (click)="openRemoveOd(od)">
            <i class="trash outline icon"></i>
          </div>
        </div>
        <div class="ui blue large label left floated odsscrollnumber">{{od.nr}}</div>
        <div class="content middle aligned">
          {{od.beschrijving}}
        </div>
      </div>
    </div>
  </div>
</div>

<form [formGroup]='od' (ngSubmit)='addOd()' class="ui modal tiny makeod">
  <div class="ui header">
    Maak een ontwikkelingsdoel
  </div>
  <div class="content">
    <div class="ui form">
      <div class="fields">
        <div class="three wide field">
          <label>Nr</label>
          <input type="text" name="nr" formControlName='nr' placeholder="Nr">
        </div>
        <div class="thirteen wide field">
          <label>Beschrijving</label>
          <input type="text" name="beschrijving" formControlName='beschrijving' placeholder="Beschrijving">
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui red cancel compact button">
      <i class="remove icon"></i>
      Annuleer
    </div>
    <button class="ui green ok compact button" type='submit'>
      <i class="checkmark icon"></i>
      Maak
    </button>
  </div>
</form>

<form class="ui modal tiny editod" [formGroup]='editingOdFormGroup' (submit)='editOd()'>
  <div class="ui header">
    Pas een ontwikkelingsdoel aan
  </div>
  <div class="content">
    <div class="ui form">
      <div class="fields">
        <div class="three wide field">
          <label>Nr</label>
          <input type="text" name="nr" placeholder="Nr" formControlName='nr' value={{editingOd?.nr}}>
        </div>
        <div class="thirteen wide field">
          <label>Beschrijving</label>
          <input type="text" name="beschrijving" placeholder="Beschrijving" formControlName='beschrijving' value={{editingOd?.beschrijving}}>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui red cancel compact button">
      <i class="remove icon"></i>
      Annuleer
    </div>
    <button class="ui green ok compact button" type='submit'>
      <i class="checkmark icon"></i>
      Maak
    </button>
  </div>
</form>

<div class="ui modal tiny removeod">
  <div class="ui header">
    Verwijder een ontwikkelingsdoel
  </div>
  <div class="content">
    <div class="item">
      <div class="content">
        <div class="ui blue horizontal large label">{{removingOd?.nr}}</div>
        {{removingOd?.beschrijving}}
      </div>
    </div>
    <br> Wilt u deze OD
    <strong>permanent</strong> verwijderen?
  </div>
  <div class="actions">
    <div class="ui cancel compact button">
      Annuleer
    </div>
    <div class="ui red ok compact button" (click)="removeOd()">
      <i class="remove icon"></i>
      Verwijder
    </div>
  </div>
</div>