<div class="ui segments">
  <div class="ui clearing grey inverted segment">
    <h4 class="ui left floated header">Onderwijs doelen</h4>
    <button class="ui right floated green compact button">
      <i class="plus icon"></i>Voeg toe</button>
  </div>
  <div class="ui segment">
    <div class="ui middle aligned divided list">
      <div class="item">
        <div class="right floated content">
          <div class="ui red icon compact button">
            <i class="trash outline icon"></i>
          </div>
        </div>
        <div class="content middle aligned">
          <div class="ui blue horizontal large label">130</div>
          Kiest adequaat hulpmiddel
        </div>
      </div>
      <div class="item">
        <div class="right floated content">
          <div class="ui red icon compact button">
            <i class="trash outline icon"></i>
          </div>
        </div>
        <div class="content">
          <div class="ui blue horizontal large label">135</div>
          Gaat om met hulpverleners
        </div>
      </div>
      <div class="item">
        <div class="right floated content">
          <div class="ui red icon compact button">
            <i class="trash outline icon"></i>
          </div>
        </div>
        <div class="content">
          <div class="ui blue horizontal large label">136</div>
          Maakt realistische keuzes
        </div>
      </div>
      <div class="item">
        <div class="right floated content">
          <div class="ui red icon compact button">
            <i class="trash outline icon"></i>
          </div>
        </div>
        <div class="content">
          <div class="ui blue horizontal large label">147</div>
          Reageert gepast in noodsituaties
        </div>
      </div>
      <div class="item">
        <div class="right floated content">
          <div class="ui red icon compact button">
            <i class="trash outline icon"></i>
          </div>
        </div>
        <div class="content">
          <div class="ui blue horizontal large label">149</div>
          Is mobiel
        </div>
      </div>
      <div class="item">
        <div class="right floated content">
          <div class="ui red icon compact button">
            <i class="trash outline icon"></i>
          </div>
        </div>
        <div class="content">
          <div class="ui blue horizontal large label">151</div>
          Maakt gebruik van openbaar of ander gemeenschappelijk vervoer
        </div>
      </div>
    </div>
  </div>
</div>