<div class="ui segments">
  <div class="ui clearing grey inverted segment">
    <h4 class="ui left floated header">Ontwikkelingsdoelen</h4>
    <button class="ui right floated green compact button" (click)="openAddOd()">
      <i class="plus icon"></i>Voeg toe</button>
  </div>
  <div class="ui segment trajectods">
    <div class="ui middle aligned divided list">
      <div class="item" *ngFor="let od of traject?.ods">
        <div class="right floated content">
          <div class="ui red icon compact button" (click)="openRemoveOd(od)">
            <i class="minus outline icon"></i>
          </div>
        </div>
        <div class="ui blue large label left floated">{{od.nr}}</div>
        <div class="content middle aligned">
          {{od.beschrijving}}
        </div>
      </div>
    </div>
  </div>
</div>

<div class="ui modal tiny addod">
  <div class="ui header">
    Voeg een ontwikkelingsdoel toe
  </div>
  <div class="content trajectods">
    <div class="ui middle aligned divided list" *ngFor="let od of _ods">
      <div class="item">
        <div class="right floated content">
          <div class="ui green icon compact button" (click)="addOd(od)">
            <i class="plus outline icon"></i>
          </div>
        </div>
        <div class="ui blue large label left floated">{{od.nr}}</div>
        <div class="content middle aligned">
          {{od.beschrijving}}
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui blue cancel compact button">
      Sluit
    </div>
  </div>
</div>

<div class="ui modal tiny removeod">
  <div class="ui header">
    Verwijder een ontwikkelingsdoel
  </div>
  <div class="content">
    <div class="item">
      <div class="content">
        <div class="ui blue horizontal large label">{{removing?.nr}}</div>
        {{removing?.beschrijving}}
      </div>
    </div>
    <br> Wilt u deze OD verwijderen?
  </div>
  <div class="actions">
    <div class="ui cancel compact button">
      Annuleer
    </div>
    <div class="ui red ok compact button" (click)="removeOd()">
      <i class="remove icon"></i>
      Verwijder
    </div>
  </div>
</div>